*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
shared/src/commonMain/kotlin/app/ft/ftapp/HiddenCredentials.kt
shared/src/commonMain/kotlin/app/ft/ftapp/TestCredentials.kt