<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name="app.ft.ftapp.android.MyApplication"
        android:allowBackup="true"
        tools:replace="android:allowBackup,android:label,android:icon"
        android:supportsRtl="true"
        android:icon="@drawable/become_travel"
        android:label="Попутчики ВШЭ"
        android:theme="@style/AppTheme">

        <receiver android:name=".AnnounceRemainderReceiver"
            android:exported="false">
            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>
        <service android:name=".presentation.groupchat.ChatService" />

        <service android:name=".AnnounceService" android:stopWithTask="false"
            android:exported="true">
            <intent-filter>
                <action android:name="app.ft.ftapp.android.AnnounceService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name="app.ft.ftapp.android.MainActivity"
            tools:replace="theme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth.hse.ru"
                    android:scheme="ru.hse.pf" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleTask"
            tools:replace="theme"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name="app.ft.ftapp.android.TestActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="auth.hse.ru.client_id"
            android:value="fe0df921-754d-45e8-8d48-1fcef2d91df8" />

        <meta-data
            android:name="auth.hse.ru.redirect_uri"
            android:value="app.ft.ftapp.android://auth.hse.ru/adfs/oauth2/callback" />
    </application>
</manifest> 